<menu [show]="showMenu"></menu>

<section class="body-sec">
    <div class="body-wrapper">
        <div class="body" #body>
            <div class="article-header">
                <h1>{{articleTitle}}</h1>
                <hr>
                <div class="category box" (click)="categoryClicked()">
                    <i></i>
                    <span>{{categoryName}}</span>
                </div>
                <div class="like box">
                    <i></i>
                    <span>90</span>
                </div>
                <br>
                <br>
                <p class="create-time" data-rel="创建时间: ">2017-01-01</p>
                <p class="update-time" data-rel="最后更新时间: ">2017-02-02</p>
                <br>
                <hr>
                <br>
                <br>
            </div>

            <div class="article-content">
                <content [innerHTML]="articleContent" [scriptSrc]="articleScriptSrc" (onload)="articleOnload()"></content>
            </div>

            <div class="article-footer">
                <br>
                <br>
                <hr>
                <div class="category box" (click)="categoryClicked()">
                    <i></i>
                    <span>{{categoryName}}</span>
                </div>
                <div class="like box">
                    <i></i>
                    <span>90</span>
                </div>
                <br>
                <br>
                <p class="former-article" data-rel="上一篇: "><a href="#">深入理解计算机网络2</a></p>
                <p class="latter-article" data-rel="下一篇: "><a href="#">深入理解计算机网络4</a></p>
                <br>
                <hr>
                <br>
                <p class="top5" data-rel="TOP 5:"></p>
                <ol>
                    <li><a href="#">深入理解计算机网络1</a></li>
                    <li><a href="#">深入理解计算机网络3</a></li>
                    <li><a href="#">深入理解计算机网络5</a></li>
                    <li><a href="#">深入理解计算机网络6</a></li>
                    <li><a href="#">深入理解计算机网络7</a></li>
                </ol>
                <br>
                <hr>
                <br>
                <div id="reply" class="reply" [class.focused]="replyFocused">
                    <div class="title"><span>awesome</span>发布评论...</div>
                    <textarea placeholder="输入评论..." [class.focused]="replyFocused"
                              (focus)="replyFocused = true" (blur)="replyFocused = false;"></textarea>
                    <div class="publish-btn">发布</div>
                </div>
                <br>
                <ol class="comments" reversed>
                    <li>
                        <span>Coffee</span>
                        <ul class="comments-of-comment">
                            <li>Sugar</li>
                            <li>Spoon</li>
                            <li>Cup</li>
                        </ul>
                    </li>
                    <li><span>Tea</span></li>
                    <li><span>Milk</span></li>
                </ol>
                <br>
            </div>
        </div>
        <div class="footer" [class.fixed]="footerFixed">
            人在劳作，天在看！@2017
        </div>
    </div>
</section>
