<div class="wrapper blog">
  <!--  标题  -->
  <h1>{{post.BlogPostName}}</h1>

  <!--  时间  -->
  <p class="time"> <span class="time">{{post.BlogPostCreateTime}}</span> - <span class="time">{{post.BlogPostUpdateTime}}</span> </p>

  <!--  路径  -->
  <p class="breadcrumb">
    <span>/ <a (click)="toHome()">&nbsp;首页&nbsp;</a> </span>
    <span *ngFor="let bc of breadcrumb">/ <a (click)="toCategory(bc)">&nbsp;{{bc.BlogCategoryName}}&nbsp;</a> </span>
  </p>

  <!--  内容  -->
  <content [url]="post.BlogPostUrl"></content>

  <!--  点赞  -->
  <div class="like">
    <img src="assets/like.png" alt="点赞" (click)="like()">
    <hr>
  </div>

  <!-- 上一篇，下一篇  -->
  <p *ngIf="!previous" class="previous" (click)="toPost(previous)">{{nonePrevious}}</p>
  <p *ngIf="previous" class="previous active" (click)="toPost(previous)">{{previous.BlogPostName}}</p>
  <p *ngIf="!next" class="next" (click)="toPost(next)">{{noneNext}}</p>
  <p *ngIf="next" class="next active" (click)="toPost(next)">{{next.BlogPostName}}</p>
</div>

<div class="wrapper reply" [class.focused]="replyFocused">
  <div class="title">
    <span *ngIf="replyComment" (click)="resetReplyComment()">{{'回复 ' + replyComment.WriterName}}</span> 发布评论...
  </div>
  <textarea #reply placeholder="输入评论..." [(ngModel)]="replyContent" [class.focused]="replyFocused" (focus)="replyFocused=true"
    (blur)="replyFocused=false"></textarea>
  <div class="publish-btn" (click)="replyPublishBtnClicked()">发布</div>
</div>

<div class="wrapper comments">
  <h2 *ngIf="comments.length">评论</h2>
  <ul>
    <li class="comment" *ngFor="let c of comments; let idx=index">
      <div class="user">
        {{c.WriterName}}
      </div>
      <div class="content">
        <div class="text">
          {{c.CommentContent}}
        </div>
        <ul>
          <li class="comment" *ngFor="let cc of (c.Leafs || [])">
            <div class="user">
              {{cc.WriterName}}
            </div>
            <div class="content">
              <div class="text">
                {{cc.CommentContent}}
              </div>
              <div class="reply-btn">
                <span (click)="replyCommentBtnClicked(c, cc, idx)">回复</span>
              </div>
            </div>
          </li>
        </ul>
        <div class="reply-btn">
          <span (click)="replyCommentBtnClicked(c, null, idx)">回复</span>
        </div>
      </div>
    </li>
  </ul>
</div>