.blur {
    background-color: #333333;
}

.info {
    position: fixed;

    top: 3em;
    right: 4em;

    color: white;
    text-shadow: 1px 1px 2px #f9f9f9, 0 0 1em blue, 0 0 0.2em #ffee00;

    cursor: pointer;

    border-radius: 1em;
    padding: 0 1em;
    line-height: 2em;

    background-color: rgba(0, 0, 0, 0.5);
}
