input {
    width: 220px;
    height: 30px;
    line-height: 16px;
    font-size: 12px;

    margin-top: 20px;
    margin-left: 40px;

    outline: none;

    border-radius: 5px;
}

input:focus {
    box-shadow: 0 0 5px yellow;
}

.btn {
    margin-top: 20px;

    border-radius: 5px;
    padding: 3px 20px;

    user-select: none;

    color: #fdfdfd;
    text-shadow: 1px 1px 2px #f9f9f9, 0 0 1em blue, 0 0 0.2em #ffee00;

    cursor: default;
}

.btn:hover {
    background-color: #e5eb93;
    box-shadow: 0 0 5px #fffa04;
}

.submit {
    float: left;
    margin-left: 40px;

    background-color: #d4d8ff;
}

.return {
    float: right;
    margin-right: 40px;

    background-color: #ebcc7c;
}

input.short {
    width: 90px;

    float: left;
}

input.short + .btn {
    float: left;

    margin-left: 10px;
    width: 120px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    text-align: center;

    background-color: #d4d8ff;
}

input.short + .btn:hover {
    background-color: #e5eb93;
    box-shadow: 0 0 5px #fffa04;
}