<div class="zi11000 info" (click)="infoClicked()">{{info}}</div>

<div class="screen-wrapper zi11000 blur" *ngIf="showLogin || showRegister || showForgetPwd || showResetPwd"></div>

<login-form *ngIf="showLogin" (suc)="loginSuccess($event)" (eventOccur)="loginFormMsg($event)"></login-form>

<register-form *ngIf="showRegister" (eventOccur)="finishRegister($event)"></register-form>

<forget-password *ngIf="showForgetPwd" (eventOccur)="forgetPwdMsg($event)"></forget-password>

<reset-password *ngIf="showResetPwd" (eventOccur)="finishResetPwd($event)"></reset-password>
