<section class="menu-bar">
    <div class="banner" [class.untransparent]="!bannerTransparent">
        <div class="menu-btn" (click)="menuClicked()">MENU</div>
    </div>
    <div class="left-banner" [class.untransparent]="!bannerTransparent"></div>
    <div class="menu wrapper" [class.left]="menuTransform === 'left'" [class.right]="menuTransform === 'right'">
        <div class="loading"></div>
        <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </div>
</section>
