<div class="screen-wrapper wrapper zi2">
    <div class="tao">
        <div id="miga-search" [class.focused]="searchFocused">
            <input type="text" placeholder="搜索分类或者文章" autofocus
                   (keyup)="searchKeyUp($event)" (focus)="searchFocus($event)"
                   (blur)="searchFocused=false;">
        </div>
        <div id="miga-search-hints" [class.show]="searchHintsShow" data-rel="-1">
            <p *ngFor="let hint of hints; let i=index"
                [class.selected]="i === selectedHint"
                (click)="searchClicked($event)">{{hint}}</p>
            <span *ngIf="hints.length === 0">{{searchErrorMsg}}</span>
        </div>

        <svg #taiqi id="taiqi" width="500" height="500" (mousedown)="svgMouseDown($event)" (mouseup)="svgMouseUp($event)" (mousemove)="svgMouseMove($event)">
            <defs>
                <radialGradient id="gradient" gradientUnits="userSpaceOnUse" cx="0" cy="0" r="250" spreadMethod="pad">
                    <stop offset="0%" stop-color="#3366CC"></stop>
                    <stop offset="30%" stop-color="#3366CC" stop-opacity="1"></stop>
                    <stop offset="60%" stop-color="black" stop-opacity="1"></stop>
                </radialGradient>
                <radialGradient id="gradient-thin" gradientUnits="userSpaceOnUse" cx="0" cy="0" r="250" spreadMethod="pad">
                    <stop offset="0%" stop-color="#3366CC"></stop>
                    <stop offset="25%" stop-color="#3366CC" stop-opacity="1"></stop>
                    <stop offset="50%" stop-color="black" stop-opacity="1"></stop>
                </radialGradient>
            </defs>
            <g class="left" transform="translate(250,250)" (click)="leftClicked($event)">
                <path d="M 0,0 A 50,50 0 0,0 0,100 A 100,100 0 0,1 0,-100 A 50,50 0 0,1 0,0Z"></path>
                <text x="-15" y="-55" fill="white">查看</text>
                <text x="-30" y="-35" fill="white">Github</text>
            </g>
            <g class="right" transform="translate(250,250) rotate(180 0 0)" (click)="rightClicked($event)">
                <path d="M 0,0 A 50,50 0 0,0 0,100 A 100,100 0 0,1 0,-100 A 50,50 0 0,1 0,0Z"></path>
                <text x="-30" y="60" transform="rotate(180 0 0)" fill="black">查看简历</text>
            </g>
            <g class="elems" [attr.transform]="transform">
                <g *ngFor="let elem of elems" class="cate" [attr.transform]="elem.transform"
                    (click)="elemClicked($event)">
                    <path [attr.fill]="elem.bgFill" [attr.d]="elem.bgD"></path>
                    <text *ngFor="let text of elem.content" [attr.x]="text.x" [attr.y]="text.y" [attr.transform]="text.transform">{{text.content}}</text>
                </g>
            </g>
            <g class="cateBack" transform="translate(250,250) rotate(0 0 0)" *ngIf="categorySelected" (click)="cateBackClicked($event)">
                <circle cx="0" cy="0" r="100" fill="url(#gradient)"></circle>
                <text *ngFor="let r of renderedCategory" [attr.x]="r.x" [attr.y]="r.y">{{r.content}}</text>
            </g>
        </svg>
    </div>
</div>

<div class="screen-wrapper wrapper zi-1">
    <div class="signal" [class.ani]="clickEffect"></div>
</div>