*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

.wrapper {
    position: fixed;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    text-align: center;
}

.wrapper > * {
    display: inline-block;
    vertical-align: middle;
}

.wrapper:before {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.zi2 {
    z-index: 2;
}

.wrapper > .tao {
    width: 500px;
    height: 560px;

    user-select: none;
}

#taiqi {
    margin-top: 10px;

    background-color: #ddd;

    border-radius: 50%;

    user-select: none;
}

.left {
    fill: #333;
}

.left:hover > path {
    fill: #111;
}

.right {
    fill: #ccc;
}

.right:hover > path {
    fill: #eee;
}

text {
    user-select: none;
    cursor: default;

    font-family: Monaco, "Lucida Console", "Comic Sans MS", monospace;
    font-size: 16px;
}

.cate > text {
    fill: white;
    transform-origin: 0 0 0;
}

.cateBack {
    cursor: default;
}

.cateBack:hover > circle {
    fill: url(#gradient-thin);
}

.cateBack > text {
    fill: wheat;
}

#miga-search {
    width: 500px;
    height: 50px;

    display: block;

    font-family: Monaco, monospace;
    font-size: 18px;

    border: solid 1px #dddddd;
    border-radius: 5px;
}

#miga-search > input {
    outline: none;
    border: none;

    width: 490px;
    height: 40px;

    margin-top: 4px;

    font-size: 28px;
}

#miga-search.focused {
    box-shadow: inset 0 0 10px blanchedalmond;
}

#miga-search-hints {
    width: 500px;
    height: 250px;

    display: none;

    background: rgba(202, 255, 197, 0.6);

    position: absolute;
    z-index: 5;

    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    box-shadow: 0 2px 3px #DDDDDD;

    line-height: 250px;
    text-align: center;
}

#miga-search-hints.show {
    display: block;
}

#miga-search-hints > p {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    display: block;

    font-family: Monaco, monospace;
    font-size: 18px;

    width: 500px;
    height: 50px;

    line-height: 50px;

    overflow: hidden;
    text-wrap: none;
    text-overflow: ellipsis;

    margin: 0;
    padding: 0 10px;

    cursor: default;
}

#miga-search-hints > p:hover {
    background: blanchedalmond;
}

#miga-search-hints > p.selected {
    background: blanchedalmond;
}

#miga-search-hints > p + p {
    border-top: solid 1px blanchedalmond;
}
