<div class="zi11001 login">
    <input type="text" [(ngModel)]="username" placeholder="用户名">
    <input type="password" [(ngModel)]="password" (keyup.enter)="login()" placeholder="密码">

    <div style="overflow: hidden">
        <p class="register-btn" (click)="register()">注册</p>
        <p class="forget-pwd" (click)="forgetPwd()">忘记密码</p>
    </div>

    <div style="overflow: hidden">
        <span class="submit btn" (click)="login()">登录</span>
        <span class="return btn" (click)="back()">返回</span>
    </div>
</div>
