.wrapper {
  margin: 1em auto;
  width: calc(100% - 2.4em);
  max-width: 800px;
  box-sizing: content-box;
}

.wrapper>* {
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
  border-left: solid 5px darkblue;
  padding-left: 1em;
  word-wrap: break-word;
}

p.breadcrumb {
  user-select: none;
  margin: 0.5em auto;
  padding-left: 1em;
  overflow: hidden;
}

p.breadcrumb a {
  cursor: pointer;
  color: royalblue;
  text-decoration: underline;
}

p.breadcrumb a:hover {
  color: whitesmoke;
  background-color: cornflowerblue;
}

p.breadcrumb a:active {
  color: whitesmoke;
  background-color: royalblue;
}
