.category {
  border: solid 1px #EFEFEF;
  box-shadow: .5em .5em 1em #AEAEAE;
  color: black;
  background-color: #FFFFFF;
}

.post {
  border: solid 1px #EFEFEF;
  color: black;
  background-color: #FFFFFF;
}

.detail {
  border-left: solid 5px royalblue;
  cursor: pointer;
  transition: padding 0.36s;
  transition-timing-function: cubic-bezier(0, 1, .57, 1.35);
}

.detail:hover {
  padding-left: 50px;
}

.detail > span {
  font-size: x-large;
  color: #303131;
}

hr {
  height: 1px;
  background-color: #333333;
  margin-bottom: 1em;
}

.brief {
  max-height: 30em;
  overflow: hidden;
}