<div class="wrapper category">
  <!--  名称  -->
  <h1>{{category.BlogCategoryName}}</h1>

  <!--  路径  -->
  <p class="breadcrumb">
    <span *ngFor="let bc of breadcrumb; let idx=index">/ 
      <a *ngIf="idx < breadcrumb.length - 1" (click)="toCategory(bc)">&nbsp;{{bc.BlogCategoryName}}&nbsp;</a>
      <span *ngIf="idx === breadcrumb.length - 1">&nbsp;{{bc.BlogCategoryName}}&nbsp;</span>
    </span>
  </p>
  <p class="breadcrumb" *ngIf="breadcrumb.length && (breadcrumb[breadcrumb.length - 1].ChildCategories || []).length">:
    <span *ngFor="let bc of breadcrumb[breadcrumb.length - 1].ChildCategories">
      <a (click)="toCategory(bc)">&nbsp;{{bc.BlogCategoryName}}&nbsp;</a>
    </span>
  </p>

  <!--  内容  -->
  <content [url]="category.BlogCategoryUrl"></content>
</div>

<div class="wrapper post" *ngFor="let p of posts">
  <h1>{{p.BlogPostName}}</h1>

  <div class="detail">
    <span (click)="toPost(p)">查看详情</span>
  </div>

  <hr>

  <div class="brief">
    <content [url]="p.BlogPostScript"></content>
  </div>
</div>
